* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/*page styling*/

body{
    overflow: hidden;
    margin: 0;

    background-image: url(images/portal_background_day.gif);
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


section h3 {
    font-family: "Grandstander", cursive;
    text-align: center;
    color: rgb(35, 55, 73);
}

main {
    font-family: "Grandstander", cursive ;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 0.25em;
    padding: 0.5em;

    width: fit-content; 
}

main section{
    text-align: center;

    flex: 1;
    background-color: aliceblue;
    margin: 0 0.5em;     
    padding: 1em;      
    border-radius: 8px;

    min-width: 200px;
    max-width: 200px;
}

a {
    text-decoration: none;
    color: rgb(56, 89, 128);
}

a:hover{
    color: rgb(37, 59, 87);
    text-decoration: underline;
}

nav ol, nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section li{
    padding: 0.3rem 0;
}

/*day time styling*/

header {
    font-family: "Grandstander", cursive;
    text-align: center;
    color: rgb(50, 77, 102);
}
